USE [master]
GO
/****** Object:  Database [DBAccounting]    Script Date: 9/27/2022 11:11:22 AM ******/
CREATE DATABASE [DBAccounting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBAccounting', FILENAME = N'D:\DBAccounting\DBAccounting.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBAccounting_log', FILENAME = N'D:\DBAccounting\DBAccounting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBAccounting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBAccounting]
GO
/****** Object:  User [phuongdq]    Script Date: 9/27/2022 11:11:22 AM ******/
CREATE USER [phuongdq] FOR LOGIN [phuongdq] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[tChungTuGhiSo]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChungTuGhiSo](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[cSoChungTu] [nvarchar](6) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cHoTen] [nvarchar](30) NULL,
	[cMaKhachHangNo] [nvarchar](10) NULL,
	[cTenKhachHangNo] [nvarchar](100) NULL,
	[cMaSoThueNo] [nvarchar](20) NULL,
	[cMaKhachHangCo] [nvarchar](10) NULL,
	[cTenKhachHangCo] [nvarchar](100) NULL,
	[cMaSoThueCo] [nvarchar](20) NULL,
	[cDienGiai] [nvarchar](100) NULL,
	[cBieuThue] [nvarchar](2) NULL,
	[cSoSeRi] [nvarchar](10) NULL,
	[cSoHoaDon] [nvarchar](10) NULL,
	[dNgayHoaDon] [datetime] NULL,
	[nThueSuat] [float] NULL,
	[nThueGTGT] [float] NULL,
	[cMatHang] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tChungTuGhiSoChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChungTuGhiSoChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[nMaSo] [int] NOT NULL,
	[cDienGiaiChiTiet] [nvarchar](50) NULL,
	[nSoTien] [float] NULL,
	[cTaiKhoanNo] [nvarchar](10) NULL,
	[cTaiKhoanCo] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tChungTuKetChuyen]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChungTuKetChuyen](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[cSoChungTu] [nvarchar](10) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cDienGiai] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tChungTuKetChuyenChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChungTuKetChuyenChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cDienGiaiChiTiet] [nvarchar](100) NULL,
	[cTaiKhoanNo] [nvarchar](10) NULL,
	[cTaiKhoanCo] [nvarchar](10) NULL,
	[nSoTien] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tChungTuNganHang]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChungTuNganHang](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cSoChungTu] [nvarchar](6) NULL,
	[cHoTen] [nvarchar](30) NULL,
	[cMaKhachHang] [nvarchar](10) NULL,
	[cTenKhachHang] [nvarchar](100) NULL,
	[cMaSoThue] [nvarchar](20) NULL,
	[cDienGiai] [nvarchar](100) NULL,
	[nThu_Chi] [tinyint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tChungTuNganHangChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tChungTuNganHangChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[nMaSo] [int] NOT NULL,
	[cDienGiaiChiTiet] [nvarchar](50) NULL,
	[nSoTien] [float] NULL,
	[cTaiKhoanNo] [nvarchar](10) NULL,
	[cTaiKhoanCo] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tDanhMucChungTu]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhMucChungTu](
	[cMaLoaiChungTu] [nvarchar](2) NOT NULL,
	[cTenLoaiChungTu] [nvarchar](30) NOT NULL,
	[cTenBang] [nvarchar](30) NULL,
 CONSTRAINT [PK_tDanhMucChungTu] PRIMARY KEY CLUSTERED 
(
	[cMaLoaiChungTu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tDanhMucHangHoa]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhMucHangHoa](
	[cMaHang] [nvarchar](8) NOT NULL,
	[cTenHang] [nvarchar](50) NULL,
	[cNhomHang] [nvarchar](5) NULL,
	[cDonViTinh] [nvarchar](10) NULL,
	[nSoLuongTonDau] [float] NULL,
	[nThanhTienTonDau] [float] NULL,
	[dNgayTonDau] [datetime] NULL,
 CONSTRAINT [PK_tDanhMucHangHoa] PRIMARY KEY CLUSTERED 
(
	[cMaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tDanhMucKhachHang]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhMucKhachHang](
	[cMaKhachHang] [nvarchar](5) NOT NULL,
	[cTenKhachHang] [nvarchar](100) NULL,
	[cMaSoThue] [nvarchar](20) NULL,
	[cDiaChi] [nvarchar](50) NULL,
	[cTinhThanhPho] [nvarchar](30) NULL,
	[cDienThoai] [nvarchar](50) NULL,
	[cFax] [nvarchar](50) NULL,
 CONSTRAINT [PK_tDanhMucKhachHang] PRIMARY KEY CLUSTERED 
(
	[cMaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tDanhMucTaiKhoan]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhMucTaiKhoan](
	[cTaiKhoan] [nvarchar](20) NOT NULL,
	[cTenTaiKhoan] [nvarchar](60) NULL,
	[nSoDuNoDau] [float] NULL,
	[nSoDuCoDau] [float] NULL,
	[bCoDinhKhoan] [bit] NOT NULL,
	[cCap] [nvarchar](1) NULL,
	[dNgaySoDu] [datetime] NULL,
 CONSTRAINT [PK_tDanhMucTaiKhoan] PRIMARY KEY CLUSTERED 
(
	[cTaiKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tDanhMucTaiKhoanCongNoKhachHang]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tDanhMucTaiKhoanCongNoKhachHang](
	[cTaiKhoan] [nvarchar](5) NOT NULL,
	[cMaKhachHang] [nvarchar](8) NOT NULL,
	[nSoDuNoDau] [float] NULL,
	[nSoDuCoDau] [float] NULL,
	[dNgaySoDu] [datetime] NULL,
 CONSTRAINT [PK_tDanhMucTaiKhoanCongNoKhachHang] PRIMARY KEY CLUSTERED 
(
	[cTaiKhoan] ASC,
	[cMaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuChi]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuChi](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[cSoChungTu] [nvarchar](6) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cHoTen] [nvarchar](30) NULL,
	[cDiaChi] [nvarchar](50) NULL,
	[cMaKhachHang] [nvarchar](10) NULL,
	[cTenKhachHang] [nvarchar](100) NULL,
	[cMaSoThue] [nvarchar](20) NULL,
	[cDienGiai] [nvarchar](100) NULL,
	[cBieuThue] [nvarchar](2) NULL,
	[cSoSeRi] [nvarchar](10) NULL,
	[cSoHoaDon] [nvarchar](10) NULL,
	[dNgayHoaDon] [datetime] NULL,
	[nThueSuat] [float] NULL,
	[cMatHang] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuChiChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuChiChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cDienGiaiChiTiet] [nvarchar](50) NULL,
	[nSoTien] [float] NULL,
	[cTaiKhoanNo] [nvarchar](10) NULL,
	[cTaiKhoanCo] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuNhapHangHoa]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuNhapHangHoa](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cSoChungTu] [nvarchar](6) NULL,
	[cMaNguoiBan] [nvarchar](6) NULL,
	[cTenNguoiBan] [nvarchar](100) NULL,
	[cMaSoThueNguoiBan] [nvarchar](15) NULL,
	[cTaiKhoanNo] [nvarchar](6) NULL,
	[cTaiKhoanNoGTGT] [nvarchar](6) NULL,
	[cTaiKhoanCo] [nvarchar](6) NULL,
	[cDienGiai] [nvarchar](70) NULL,
	[cSoSeRi] [nvarchar](10) NULL,
	[cSoHoaDon] [nvarchar](10) NULL,
	[dNgayHoaDon] [datetime] NULL,
	[nThueSuat] [float] NULL,
	[nThueGTGT] [float] NULL,
	[cMatHang] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuNhapHangHoaChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuNhapHangHoaChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[nMaSo] [int] NOT NULL,
	[cMaHang] [nvarchar](10) NOT NULL,
	[cDonViTinh] [nvarchar](10) NULL,
	[nSoLuong] [float] NULL,
	[nDonGia] [float] NULL,
	[nThanhTien] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuNhapHangTraLai]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuNhapHangTraLai](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cSoChungTu] [nvarchar](6) NOT NULL,
	[cDienGiai] [nvarchar](70) NULL,
	[cMaKhachHang] [nvarchar](10) NULL,
	[cTenKhachHang] [nvarchar](40) NULL,
	[cMaSoThue] [nvarchar](20) NULL,
	[cTaiKhoanNoGiaVon] [nvarchar](6) NULL,
	[cTaiKhoanCoGiaVon] [nvarchar](6) NULL,
	[cTaiKhoanNoGiaBan] [nvarchar](6) NULL,
	[cTaiKhoanNoGTGT] [nvarchar](6) NULL,
	[cTaiKhoanCoGiaBan] [nvarchar](6) NULL,
	[cBieuThue] [nvarchar](2) NULL,
	[cSoSeRi] [nvarchar](10) NULL,
	[cSoHoaDon] [nvarchar](10) NULL,
	[dNgayHoaDon] [datetime] NULL,
	[nThueSuat] [float] NULL,
	[nThueGTGT] [float] NULL,
	[cMatHang] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuNhapHangTraLaiChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuNhapHangTraLaiChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[nMaSo] [int] NOT NULL,
	[cMaHang] [nvarchar](15) NOT NULL,
	[cDonViTinh] [nvarchar](10) NULL,
	[nSoLuong] [float] NULL,
	[nDonGiaVon] [float] NULL,
	[nThanhTienGiaVon] [float] NULL,
	[nDonGiaBan] [float] NULL,
	[nThanhTienGiaBan] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuThu]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuThu](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cSoChungTu] [nvarchar](6) NULL,
	[cHoTen] [nvarchar](30) NULL,
	[cDiaChi] [nvarchar](50) NULL,
	[cSoChungTuGoc] [tinyint] NULL,
	[cMaKhachHang] [nvarchar](10) NULL,
	[cTenKhachHang] [nvarchar](100) NULL,
	[cMaSoThue] [nvarchar](20) NULL,
	[cDienGiai] [nvarchar](100) NULL,
	[cBieuThue] [nvarchar](2) NULL,
	[cSoSeRi] [nvarchar](10) NULL,
	[cSoHoaDon] [nvarchar](10) NULL,
	[dNgayHoaDon] [datetime] NULL,
	[nThueSuat] [float] NULL,
	[cMatHang] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuThuChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuThuChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cDienGiaiChiTiet] [nvarchar](50) NULL,
	[nSoTien] [float] NULL,
	[cTaiKhoanNo] [nvarchar](10) NULL,
	[cTaiKhoanCo] [nvarchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuXuatHangHoa]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuXuatHangHoa](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cSoChungTu] [nvarchar](6) NULL,
	[cMaKhachHang] [nvarchar](6) NULL,
	[cTenKhachHang] [nvarchar](50) NULL,
	[cMaSoThue] [nvarchar](15) NULL,
	[cTaiKhoanNoGiaVon] [nvarchar](6) NULL,
	[cTaiKhoanCoGiaVon] [nvarchar](6) NULL,
	[cTaiKhoanNoGiaBan] [nvarchar](6) NULL,
	[cTaiKhoanCoGiaBan] [nvarchar](6) NULL,
	[cTaiKhoanCoGTGT] [nvarchar](6) NULL,
	[cDienGiai] [nvarchar](70) NULL,
	[cMatHang] [nvarchar](30) NULL,
	[nThueSuat] [float] NULL,
	[nThueGTGT] [int] NULL,
	[cSoSeri] [nvarchar](15) NULL,
	[cSoHoaDon] [nvarchar](7) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuXuatHangHoaChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuXuatHangHoaChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cMaHang] [nvarchar](10) NOT NULL,
	[cDonViTinh] [nvarchar](10) NULL,
	[nSoLuong] [float] NULL,
	[nDonGiaVon] [float] NULL,
	[nThanhTienGiaVon] [int] NULL,
	[nDonGiaBan] [float] NULL,
	[nThanhTienGiaBan] [int] NULL,
	[cMaChungTuNhap] [nvarchar](50) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuXuatHangTraLai]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuXuatHangTraLai](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cSoChungTu] [nvarchar](6) NOT NULL,
	[cDienGiai] [nvarchar](70) NULL,
	[cMaKhachHang] [nvarchar](10) NULL,
	[cTenKhachHang] [nvarchar](40) NULL,
	[cMaSoThue] [nvarchar](20) NULL,
	[cTaiKhoanNoGiaVon] [nvarchar](6) NULL,
	[cTaiKhoanCoGiaVon] [nvarchar](6) NULL,
	[cTaiKhoanNoGiaMua] [nvarchar](6) NULL,
	[cTaiKhoanCoGTGT] [nvarchar](6) NULL,
	[cTaiKhoanCoGiaMua] [nvarchar](6) NULL,
	[cBieuThue] [nvarchar](2) NULL,
	[cSoSeRi] [nvarchar](10) NULL,
	[cSoHoaDon] [nvarchar](10) NULL,
	[dNgayHoaDon] [datetime] NULL,
	[nThueSuat] [float] NULL,
	[nThueGTGT] [float] NULL,
	[cMatHang] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tPhieuXuatHangTraLaiChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tPhieuXuatHangTraLaiChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[nMaSo] [int] NOT NULL,
	[cMaHang] [nvarchar](15) NOT NULL,
	[cDonViTinh] [nvarchar](10) NULL,
	[nSoLuong] [float] NULL,
	[nDonGiaVon] [float] NULL,
	[nThanhTienGiaVon] [float] NULL,
	[nDonGiaMua] [float] NULL,
	[nThanhTienGiaMua] [float] NULL,
	[cMaChungTuNhap] [nvarchar](20) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tTempDanhMucKhachHang]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTempDanhMucKhachHang](
	[cMaKhachHang] [nvarchar](5) NOT NULL,
	[cTenKhachHang] [nvarchar](100) NULL,
	[cMaSoThue] [nvarchar](20) NULL,
	[cDiaChi] [nvarchar](50) NULL,
	[cTinhThanhPho] [nvarchar](30) NULL,
	[cDienThoai] [nvarchar](50) NULL,
	[cFax] [nvarchar](50) NULL,
 CONSTRAINT [PK_tTempDanhMucKhachHang] PRIMARY KEY CLUSTERED 
(
	[cMaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tTempPhieuNhapHangHoa]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTempPhieuNhapHangHoa](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[cLoaiChungTu] [nvarchar](2) NULL,
	[dNgayChungTu] [datetime] NULL,
	[cSoChungTu] [nvarchar](6) NULL,
	[cMaNguoiBan] [nvarchar](6) NULL,
	[cTenNguoiBan] [nvarchar](100) NULL,
	[cMaSoThueNguoiBan] [nvarchar](15) NULL,
	[cTaiKhoanNo] [nvarchar](6) NULL,
	[cTaiKhoanNoGTGT] [nvarchar](6) NULL,
	[cTaiKhoanCo] [nvarchar](6) NULL,
	[cDienGiai] [nvarchar](70) NULL,
	[cSoSeRi] [nvarchar](10) NULL,
	[cSoHoaDon] [nvarchar](10) NULL,
	[dNgayHoaDon] [datetime] NULL,
	[nThueSuat] [float] NULL,
	[nThueGTGT] [float] NULL,
	[cMatHang] [nvarchar](30) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tTempPhieuNhapHangHoaChiTiet]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tTempPhieuNhapHangHoaChiTiet](
	[cMaChungTu] [nvarchar](20) NOT NULL,
	[nMaSo] [int] NOT NULL,
	[cMaHang] [nvarchar](10) NOT NULL,
	[cDonViTinh] [nvarchar](10) NULL,
	[nSoLuong] [float] NULL,
	[nDonGia] [float] NULL,
	[nThanhTien] [float] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[tThongTinCongTy]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tThongTinCongTy](
	[cThongTin] [nvarchar](200) NULL,
	[cChuThich] [nvarchar](150) NULL
) ON [PRIMARY]

GO
INSERT [dbo].[tChungTuGhiSoChiTiet] ([cMaChungTu], [nMaSo], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'GS-006/01-30/01/02', 1, N'Rượu QT - thùng Goldking (HĐ 85638)', 256000, N'131', N'3331')
INSERT [dbo].[tChungTuGhiSoChiTiet] ([cMaChungTu], [nMaSo], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'GS-008/02-28/02/02', 2, N'Đưa quỹ phúc lợi vào chi phí tiền lương.', 12000000, N'642', N'334')
INSERT [dbo].[tChungTuGhiSoChiTiet] ([cMaChungTu], [nMaSo], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'GS-010/01-31/01/02', 3, N'Lương NV tháng 1/02 phải trả', 34680000, N'642', N'334')
INSERT [dbo].[tChungTuKetChuyen] ([cMaChungTu], [cLoaiChungTu], [cSoChungTu], [dNgayChungTu], [cDienGiai]) VALUES (N'KC-K04-01/02', N'KC', NULL, CAST(N'2002-01-31 00:00:00.000' AS DateTime), N'Kết chuyển hàng  trả lại')
INSERT [dbo].[tChungTuKetChuyen] ([cMaChungTu], [cLoaiChungTu], [cSoChungTu], [dNgayChungTu], [cDienGiai]) VALUES (N'KC-K04-02/02', N'KC', NULL, CAST(N'2002-02-28 00:00:00.000' AS DateTime), N'Kết chuyển hàng  trả lại')
INSERT [dbo].[tChungTuKetChuyen] ([cMaChungTu], [cLoaiChungTu], [cSoChungTu], [dNgayChungTu], [cDienGiai]) VALUES (N'KC-K04-03/02', N'KC', NULL, CAST(N'2002-03-31 00:00:00.000' AS DateTime), N'Kết chuyển hàng  trả lại')
INSERT [dbo].[tChungTuKetChuyenChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [cTaiKhoanNo], [cTaiKhoanCo], [nSoTien]) VALUES (N'KC-K16-05/02', N'Kết chuyển thuế VAT được khấu trừ', N'3331', N'1331', NULL)
INSERT [dbo].[tChungTuKetChuyenChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [cTaiKhoanNo], [cTaiKhoanCo], [nSoTien]) VALUES (N'KC-K16-02/02', N'Kết chuyển thuế VAT được khấu trừ', N'3331', N'1331', 45469843)
INSERT [dbo].[tChungTuKetChuyenChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [cTaiKhoanNo], [cTaiKhoanCo], [nSoTien]) VALUES (N'KC-K13-04/02', N'Kết chuyển chi phí hoạt động tài chính', N'911', N'811', 3565000)
INSERT [dbo].[tChungTuNganHang] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cHoTen], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [nThu_Chi]) VALUES (N'TG-001/01-04/01/02', N'TG', CAST(N'2002-01-04 00:00:00.000' AS DateTime), N'001/01', NULL, N'0142', N'Cty TNHH Nestle VN', NULL, N'Thu tiền Cty Nestle', 1)
INSERT [dbo].[tChungTuNganHang] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cHoTen], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [nThu_Chi]) VALUES (N'TG-001/02-01/02/02', N'TG', CAST(N'2002-02-01 00:00:00.000' AS DateTime), N'001/02', NULL, NULL, NULL, NULL, N'Rút tiền mặt ICB nhập quỹ', 2)
INSERT [dbo].[tChungTuNganHang] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cHoTen], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [nThu_Chi]) VALUES (N'TG-001/03-05/03/02', N'TG', CAST(N'2002-03-05 00:00:00.000' AS DateTime), N'001/03', NULL, N'0022', N'Cty Cổ Phần Bánh Kẹo Biên Hòa', N'3600363970', N'Cty CP Bánh Kẹo Biên Hòa chuyển trả tiền theo HĐ 85463', 1)
INSERT [dbo].[tChungTuNganHangChiTiet] ([cMaChungTu], [nMaSo], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'TG-011/04-29/04/02', 1, N'VCB thu lãi tiền vay T4/02 HĐ 01.104 TK 15442', 3565000, N'811', N'1122')
INSERT [dbo].[tChungTuNganHangChiTiet] ([cMaChungTu], [nMaSo], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'TG-001/01-04/01/02', 2, N'Cty Nestle VN chuyển trả tiền qua ICB', 3080000, N'1121', N'131')
INSERT [dbo].[tChungTuNganHangChiTiet] ([cMaChungTu], [nMaSo], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'TG-002/01-11/01/02', 3, N'Cty phát triển CN Tân Thuận chuyển trả tiền', 34815000, N'1121', N'131')
INSERT [dbo].[tDanhMucChungTu] ([cMaLoaiChungTu], [cTenLoaiChungTu], [cTenBang]) VALUES (N'GS', N'Ghi sổ', N'tChungTuGhiSo')
INSERT [dbo].[tDanhMucChungTu] ([cMaLoaiChungTu], [cTenLoaiChungTu], [cTenBang]) VALUES (N'KC', N'Kết chuyển', N'tChungTuKetChuyen')
INSERT [dbo].[tDanhMucChungTu] ([cMaLoaiChungTu], [cTenLoaiChungTu], [cTenBang]) VALUES (N'NH', N'Nhập hàng hóa', N'tPhieuNhapHangHoa')
INSERT [dbo].[tDanhMucHangHoa] ([cMaHang], [cTenHang], [cNhomHang], [cDonViTinh], [nSoLuongTonDau], [nThanhTienTonDau], [dNgayTonDau]) VALUES (N'GA000001', N'Giấy Bristol', N'GA', N'Kg', 1859.9, 24756760, CAST(N'2002-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[tDanhMucHangHoa] ([cMaHang], [cTenHang], [cNhomHang], [cDonViTinh], [nSoLuongTonDau], [nThanhTienTonDau], [dNgayTonDau]) VALUES (N'GA000002', N'Giấy Couché', N'GA', N'Kg', 6144.3, 76420409, CAST(N'2002-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[tDanhMucHangHoa] ([cMaHang], [cTenHang], [cNhomHang], [cDonViTinh], [nSoLuongTonDau], [nThanhTienTonDau], [dNgayTonDau]) VALUES (N'GA000003', N'Giấy Duplex', N'GA', N'Kg', 2808.6, 19554114, CAST(N'2002-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[tDanhMucKhachHang] ([cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDiaChi], [cTinhThanhPho], [cDienThoai], [cFax]) VALUES (N'0001', N'Cty Lotte Việt Nam', N'3700232139', N'P.Phú Thọ', N'Bình Dương', NULL, NULL)
INSERT [dbo].[tDanhMucKhachHang] ([cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDiaChi], [cTinhThanhPho], [cDienThoai], [cFax]) VALUES (N'0002', N'Cty TNHH Anh Minh', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tDanhMucKhachHang] ([cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDiaChi], [cTinhThanhPho], [cDienThoai], [cFax]) VALUES (N'0003', N'Cty TNHH An Nam Sáng', N'0302396598', N'21/3/14 Quang Trung', NULL, NULL, NULL)
GO
INSERT [dbo].[tDanhMucTaiKhoan] ([cTaiKhoan], [cTenTaiKhoan], [nSoDuNoDau], [nSoDuCoDau], [bCoDinhKhoan], [cCap], [dNgaySoDu]) VALUES (N'111', N'Tiền Mặt', 33063000, NULL, 1, N'1', CAST(N'2002-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[tDanhMucTaiKhoan] ([cTaiKhoan], [cTenTaiKhoan], [nSoDuNoDau], [nSoDuCoDau], [bCoDinhKhoan], [cCap], [dNgaySoDu]) VALUES (N'112', N'Tiền gởi ngân hàng', NULL, 0, 0, N'1', CAST(N'2002-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[tDanhMucTaiKhoan] ([cTaiKhoan], [cTenTaiKhoan], [nSoDuNoDau], [nSoDuCoDau], [bCoDinhKhoan], [cCap], [dNgaySoDu]) VALUES (N'1121', N'Tiền VNĐ gởi ICB', 1010577, 0, 1, N'2', CAST(N'2002-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[tDanhMucTaiKhoanCongNoKhachHang] ([cTaiKhoan], [cMaKhachHang], [nSoDuNoDau], [nSoDuCoDau], [dNgaySoDu]) VALUES (N'131', N'0001', 9630720, 0, CAST(N'2002-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[tDanhMucTaiKhoanCongNoKhachHang] ([cTaiKhoan], [cMaKhachHang], [nSoDuNoDau], [nSoDuCoDau], [dNgaySoDu]) VALUES (N'131', N'0002', 0, 0, CAST(N'2002-01-01 00:00:00.000' AS DateTime))
INSERT [dbo].[tDanhMucTaiKhoanCongNoKhachHang] ([cTaiKhoan], [cMaKhachHang], [nSoDuNoDau], [nSoDuCoDau], [dNgaySoDu]) VALUES (N'131', N'0003', 0, 0, CAST(N'2002-01-01 00:00:00.000' AS DateTime))
GO
INSERT [dbo].[tPhieuChi] ([cMaChungTu], [cLoaiChungTu], [cSoChungTu], [dNgayChungTu], [cHoTen], [cDiaChi], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [cMatHang]) VALUES (N'PC-001/01-03/01/02', N'PC', N'001/01', CAST(N'2002-01-03 00:00:00.000' AS DateTime), N'Nguyễn Anh Tuấn', NULL, N'0128', N'Cty Quán Quân', N'0301178773-1', N'Mua giấy in vi tính', N'03', N'AA/XX', N'001113', CAST(N'2002-01-03 00:00:00.000' AS DateTime), 0.1, N'Giấy vi tính')
INSERT [dbo].[tPhieuChi] ([cMaChungTu], [cLoaiChungTu], [cSoChungTu], [dNgayChungTu], [cHoTen], [cDiaChi], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [cMatHang]) VALUES (N'PC-001/03-04/03/02', N'PC', N'001/03', CAST(N'2002-03-04 00:00:00.000' AS DateTime), N'Võ Thị Aùnh Tuyết', NULL, N'0006', N'Cty Liên Doanh Sứ Vệ Sinh Mỹ Phú', N'3700230117', N'Chi tiền hoa hồng cho Mỹ Phú', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tPhieuChi] ([cMaChungTu], [cLoaiChungTu], [cSoChungTu], [dNgayChungTu], [cHoTen], [cDiaChi], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [cMatHang]) VALUES (N'PC-001/04-01/04/02', N'PC', N'001/04', CAST(N'2002-04-01 00:00:00.000' AS DateTime), N'Quách Hưng Trung', NULL, N'0051', N'Cty TNHH SX-TM Vĩnh Thuận Hưng', N'0302066487', N'Trả nợ tiền giấy  Vĩnh Thuận Hưng.', NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[tPhieuChiChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'PC-013/01-16/01/02', N'Thuế VAT được khấu trừ', 1323, N'1331', N'111')
INSERT [dbo].[tPhieuChiChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'PC-039/03-30/03/02', N'Tiền điện thoái (số 8554362) T03/02', 382999, N'642', N'111')
INSERT [dbo].[tPhieuChiChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'PC-010/02-17/02/02', N'Tiền điện kỳ 3/02 (từ 11/1/02 đến 7/5/02)', 2599200, N'642', N'111')
GO
INSERT [dbo].[tPhieuNhapHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaNguoiBan], [cTenNguoiBan], [cMaSoThueNguoiBan], [cTaiKhoanNo], [cTaiKhoanNoGTGT], [cTaiKhoanCo], [cDienGiai], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NH-001/01-02/01/02', N'NH', CAST(N'2002-01-02 00:00:00.000' AS DateTime), N'001/01', N'0037', N'DNTN TM Minh Kim Long', N'0301060228', N'156', N'1331', N'331', N'Cty XNK TB Ngành In-C80(60x84)', N'ND/01-N', N'055732', CAST(N'2002-01-02 00:00:00.000' AS DateTime), 0.1, 114545, N'Vật tư')
INSERT [dbo].[tPhieuNhapHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaNguoiBan], [cTenNguoiBan], [cMaSoThueNguoiBan], [cTaiKhoanNo], [cTaiKhoanNoGTGT], [cTaiKhoanCo], [cDienGiai], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NH-001/02-01/02/02', N'NH', CAST(N'2002-02-01 00:00:00.000' AS DateTime), N'001/02', N'0036', N'Cửa Hàng Viễn Thái', N'0300826679', N'156', N'1331', N'331', N'Viễn Thái - Mực 1992 xanh lá', N'RK/01-N', N'061385', CAST(N'2002-02-01 00:00:00.000' AS DateTime), 0.1, 43500, N'Vật tư')
INSERT [dbo].[tPhieuNhapHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaNguoiBan], [cTenNguoiBan], [cMaSoThueNguoiBan], [cTaiKhoanNo], [cTaiKhoanNoGTGT], [cTaiKhoanCo], [cDienGiai], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NH-001/03-01/03/02', N'NH', CAST(N'2002-03-01 00:00:00.000' AS DateTime), N'001/03', N'0062', N'Cty XNK Ngành In TP.HCM', N'0300464482', N'156', N'1331', N'331', N'Primexco - Giấy Couché', N'QC/01-N', N'022229', CAST(N'2002-02-25 00:00:00.000' AS DateTime), 0.1, 1160000, N'Vật tư')
GO
INSERT [dbo].[tPhieuNhapHangHoaChiTiet] ([cMaChungTu], [nMaSo], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGia], [nThanhTien]) VALUES (N'NH-045/01-28/01/02', 1, N'GA000006', NULL, 318.042, 12920, 4109102)
INSERT [dbo].[tPhieuNhapHangHoaChiTiet] ([cMaChungTu], [nMaSo], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGia], [nThanhTien]) VALUES (N'NH-046/01-28/01/02', 2, N'GA000001', NULL, 2642, 12346.004, 32618144)
INSERT [dbo].[tPhieuNhapHangHoaChiTiet] ([cMaChungTu], [nMaSo], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGia], [nThanhTien]) VALUES (N'NH-047/01-28/01/02', 3, N'GA000002', NULL, 1308.17, 10500.011, 13735800)
GO
INSERT [dbo].[tPhieuNhapHangTraLai] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cDienGiai], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cTaiKhoanNoGiaVon], [cTaiKhoanCoGiaVon], [cTaiKhoanNoGiaBan], [cTaiKhoanNoGTGT], [cTaiKhoanCoGiaBan], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NT-001/04-22/04/08', N'NT', CAST(N'2008-04-22 00:00:00.000' AS DateTime), N'001/04', NULL, N'0004', N'Cty Sữa TNHH Việt Nam Foremost', N'3700229344', N'156', N'632', N'531', N'3331', N'131', N'02', NULL, NULL, NULL, 0.1, 0, NULL)
INSERT [dbo].[tPhieuNhapHangTraLai] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cDienGiai], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cTaiKhoanNoGiaVon], [cTaiKhoanCoGiaVon], [cTaiKhoanNoGiaBan], [cTaiKhoanNoGTGT], [cTaiKhoanCoGiaBan], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NT-001-30/01/02', N'NT', CAST(N'2002-01-30 00:00:00.000' AS DateTime), N'001', N'Lotte trả hàng', N'0001', N'Cty Lotte Việt Nam', N'3700232139', N'156', N'632', N'531', N'3331', N'131', N'02', NULL, NULL, NULL, 0.1, 1108600, NULL)
INSERT [dbo].[tPhieuNhapHangTraLai] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cDienGiai], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cTaiKhoanNoGiaVon], [cTaiKhoanCoGiaVon], [cTaiKhoanNoGiaBan], [cTaiKhoanNoGTGT], [cTaiKhoanCoGiaBan], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NT-002/04-22/04/08', N'NT', CAST(N'2008-04-22 00:00:00.000' AS DateTime), N'002/04', NULL, N'0012', N'XN Chế Biến KD Nông Sản Thực Phẩm', N'03005590141201', N'156', N'632', N'531', N'3331', N'131', N'02', NULL, NULL, NULL, 0.1, 0, NULL)
INSERT [dbo].[tPhieuNhapHangTraLaiChiTiet] ([cMaChungTu], [nMaSo], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGiaVon], [nThanhTienGiaVon], [nDonGiaBan], [nThanhTienGiaBan]) VALUES (N'NT-001-30/01/02', 1123240370, N'GA000005', N'Mét', 1000, 6159.09, 6159091, 11086, 11086000)
INSERT [dbo].[tPhieuThu] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cHoTen], [cDiaChi], [cSoChungTuGoc], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [cMatHang]) VALUES (N'PT-001/01-03/01/02', N'PT', CAST(N'2002-01-03 00:00:00.000' AS DateTime), N'001/01', N'Võ Thị Aùnh Tuyết', NULL, NULL, N'0023', N'Cty Dược và Vật tư y tế Bình Dương', N'3700150045', N'Thu tiền Cty Dược và vật tư y tế BD', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tPhieuThu] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cHoTen], [cDiaChi], [cSoChungTuGoc], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [cMatHang]) VALUES (N'PT-001/03-01/03/02', N'PT', CAST(N'2002-03-01 00:00:00.000' AS DateTime), N'001/03', N'Võ Thị Aùnh', NULL, NULL, N'0023', N'Cty Dược và Vật tư y tế Bình Dương', N'3700150045', N'Thu tiền Cty Dược và vật tư Y tế Bình Dương', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tPhieuThu] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cHoTen], [cDiaChi], [cSoChungTuGoc], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDienGiai], [cBieuThue], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [cMatHang]) VALUES (N'PT-001/04-03/04/02', N'PT', CAST(N'2002-04-03 00:00:00.000' AS DateTime), N'001/04', N'Trần Xuân', NULL, NULL, N'0072', N'Cty TNHH Dược Phẩm Aâu Mỹ/Anh Triết', N'0302020845', N'Cty Aâu Mỹ trả tiền hàng.', NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tPhieuThuChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'PT-006/01-12/01/02', N'Thu tiền Cty Vina ChangTai', 193335501, N'111', N'131')
INSERT [dbo].[tPhieuThuChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'PT-010/01-24/01/02', N'Thuế GTGT được khấu trừ', 689135, N'111', N'3331')
INSERT [dbo].[tPhieuThuChiTiet] ([cMaChungTu], [cDienGiaiChiTiet], [nSoTien], [cTaiKhoanNo], [cTaiKhoanCo]) VALUES (N'PT-013/01-29/01/02', N'Thuế GTGT phải nộp', 800000, N'111', N'3331')
INSERT [dbo].[tPhieuXuatHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cTaiKhoanNoGiaVon], [cTaiKhoanCoGiaVon], [cTaiKhoanNoGiaBan], [cTaiKhoanCoGiaBan], [cTaiKhoanCoGTGT], [cDienGiai], [cMatHang], [nThueSuat], [nThueGTGT], [cSoSeri], [cSoHoaDon]) VALUES (N'XH-001/01-01/01/02', N'XH', CAST(N'2002-01-01 00:00:00.000' AS DateTime), N'001/01', N'0004', N'Cty Sữa TNHH Việt Nam Foremost', N'3700229344', N'632', N'156', N'131', N'511', N'3331', N'Xuất  decal giấy', N'Vật tư', 0.1, 1685000, N'AA/99', N'085607')
INSERT [dbo].[tPhieuXuatHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cTaiKhoanNoGiaVon], [cTaiKhoanCoGiaVon], [cTaiKhoanNoGiaBan], [cTaiKhoanCoGiaBan], [cTaiKhoanCoGTGT], [cDienGiai], [cMatHang], [nThueSuat], [nThueGTGT], [cSoSeri], [cSoHoaDon]) VALUES (N'XH-001/02-01/02/02', N'XH', CAST(N'2002-02-01 00:00:00.000' AS DateTime), N'001/02', N'0022', N'Cty Cổ Phần Bánh Kẹo Biên', N'3600363970', N'632', N'156', N'131', N'511', N'3331', N'Xuất bán', N'Vật tư', 0.1, 4936108, N'AA/99', N'051235')
INSERT [dbo].[tPhieuXuatHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cTaiKhoanNoGiaVon], [cTaiKhoanCoGiaVon], [cTaiKhoanNoGiaBan], [cTaiKhoanCoGiaBan], [cTaiKhoanCoGTGT], [cDienGiai], [cMatHang], [nThueSuat], [nThueGTGT], [cSoSeri], [cSoHoaDon]) VALUES (N'XH-001/03-01/03/02', N'XH', CAST(N'2002-03-01 00:00:00.000' AS DateTime), N'001/03', N'0013', N'Cty TNHH SX-TM Nhơn Hòà', N'0301473105', N'632', N'156', N'131', N'511', N'3331', N'Xuất bán', N'Vật tư', 0.1, 1681110, N'AA/99', N'072018')
INSERT [dbo].[tPhieuXuatHangHoaChiTiet] ([cMaChungTu], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGiaVon], [nThanhTienGiaVon], [nDonGiaBan], [nThanhTienGiaBan], [cMaChungTuNhap]) VALUES (N'XH-038/03-30/03/02', N'MU003003', N'Kg', 2, 65000, 130000, 117000, 234000, N'NH-027/01-19/01/02')
INSERT [dbo].[tPhieuXuatHangHoaChiTiet] ([cMaChungTu], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGiaVon], [nThanhTienGiaVon], [nDonGiaBan], [nThanhTienGiaBan], [cMaChungTuNhap]) VALUES (N'XH-038/03-30/03/02', N'MU004001', N'Kg', 6, 198850, 1193100, 357930, 2147580, N'NH-027/03-14/03/02')
INSERT [dbo].[tPhieuXuatHangHoaChiTiet] ([cMaChungTu], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGiaVon], [nThanhTienGiaVon], [nDonGiaBan], [nThanhTienGiaBan], [cMaChungTuNhap]) VALUES (N'XH-038/03-30/03/02', N'MU004003', N'Kg', 2, 260000, 520000, 468000, 936000, N'TonDau')
GO
INSERT [dbo].[tTempDanhMucKhachHang] ([cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDiaChi], [cTinhThanhPho], [cDienThoai], [cFax]) VALUES (N'0001', N'Cty Lotte Việt Nam', N'3700232139', N'P.Phú Thọ', N'Bình Dương', N'', N'')
INSERT [dbo].[tTempDanhMucKhachHang] ([cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDiaChi], [cTinhThanhPho], [cDienThoai], [cFax]) VALUES (N'0002', N'Cty TNHH Anh Minh', N'', N'', N'', N'', N'')
INSERT [dbo].[tTempDanhMucKhachHang] ([cMaKhachHang], [cTenKhachHang], [cMaSoThue], [cDiaChi], [cTinhThanhPho], [cDienThoai], [cFax]) VALUES (N'0003', N'Cty TNHH An Nam Sáng', N'0302396598', N'21/3/14 Quang Trung', N'', N'', N'')
GO
INSERT [dbo].[tTempPhieuNhapHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaNguoiBan], [cTenNguoiBan], [cMaSoThueNguoiBan], [cTaiKhoanNo], [cTaiKhoanNoGTGT], [cTaiKhoanCo], [cDienGiai], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NH-001/01-02/01/02', N'NH', CAST(N'2002-01-02 00:00:00.000' AS DateTime), N'001/01', N'0037', N'DNTN TM Minh Kim Long', N'0301060228', N'156', N'1331', N'331', N'Cty XNK TB Ngành In-C80(60x84)', N'ND/01-N', N'055732', CAST(N'2002-01-02 00:00:00.000' AS DateTime), 0.1, 114545, N'Vật tư')
INSERT [dbo].[tTempPhieuNhapHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaNguoiBan], [cTenNguoiBan], [cMaSoThueNguoiBan], [cTaiKhoanNo], [cTaiKhoanNoGTGT], [cTaiKhoanCo], [cDienGiai], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NH-001/02-01/02/02', N'NH', CAST(N'2002-02-01 00:00:00.000' AS DateTime), N'001/02', N'0036', N'Cửa Hàng Viễn Thái', N'0300826679', N'156', N'1331', N'331', N'Viễn Thái - Mực 1992 xanh lá', N'RK/01-N', N'061385', CAST(N'2002-02-01 00:00:00.000' AS DateTime), 0.1, 43500, N'Vật tư')
INSERT [dbo].[tTempPhieuNhapHangHoa] ([cMaChungTu], [cLoaiChungTu], [dNgayChungTu], [cSoChungTu], [cMaNguoiBan], [cTenNguoiBan], [cMaSoThueNguoiBan], [cTaiKhoanNo], [cTaiKhoanNoGTGT], [cTaiKhoanCo], [cDienGiai], [cSoSeRi], [cSoHoaDon], [dNgayHoaDon], [nThueSuat], [nThueGTGT], [cMatHang]) VALUES (N'NH-001/03-01/03/02', N'NH', CAST(N'2002-03-01 00:00:00.000' AS DateTime), N'001/03', N'0062', N'Cty XNK Ngành In TP.HCM', N'0300464482', N'156', N'1331', N'331', N'Primexco - Giấy Couché', N'QC/01-N', N'022229', CAST(N'2002-02-25 00:00:00.000' AS DateTime), 0.1, 1160000, N'Vật tư')
GO
INSERT [dbo].[tTempPhieuNhapHangHoaChiTiet] ([cMaChungTu], [nMaSo], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGia], [nThanhTien]) VALUES (N'NH-045/01-28/01/02', 1, N'GA000006', NULL, 318.042, 12920, 4109102)
INSERT [dbo].[tTempPhieuNhapHangHoaChiTiet] ([cMaChungTu], [nMaSo], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGia], [nThanhTien]) VALUES (N'NH-046/01-28/01/02', 2, N'GA000001', NULL, 2642, 12346.004, 32618144)
INSERT [dbo].[tTempPhieuNhapHangHoaChiTiet] ([cMaChungTu], [nMaSo], [cMaHang], [cDonViTinh], [nSoLuong], [nDonGia], [nThanhTien]) VALUES (N'NH-047/01-28/01/02', 3, N'GA000002', NULL, 1308.17, 10500.011, 13735800)
GO
/****** Object:  StoredProcedure [dbo].[spBaoCaoPhieuNhap]    Script Date: 9/27/2022 11:11:22 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[spBaoCaoPhieuNhap] 
	-- Add the parameters for the stored procedure here
	@TuNgay DATE,
	@DenNgay DATE
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	
END

GO
USE [master]
GO
